.DS_Store
.idea
.yarn
.pnp.js
.tmp

*-lock.*

node_modules
node_modules_

# contracts
static/contracts/.deps
static/contracts/source/artifacts
!static/contracts/source/artifacts/PancakeSwapLottery.json

/*.css
/*.html
Farm.json
/example/
vendor/*/*
frontend/build/*
/staticbuild/*
static/contracts/source/artifacts/Address.json
static/contracts/source/artifacts/Address_metadata.json
