.primaryButton {
}

a:focus,
a:hover {
  color:white;
}

.inlineLink:active,
.inlineLink:hover,
.inlineLink:focus {
  color:#1FC7D4;
}


button:hover,
button:active,
button:focus {
  color: #1FC7D4;
  background-color: transparent;
}

button[aria-label='Hide or show expandable content']:hover,
button[aria-label='Hide or show expandable content']:active,
button[aria-label='Hide or show expandable content']:focus {
  color: #1FC7D4;
}

.primaryButton:active,
.primaryButton:hover,
.primaryButton:focus {
  color: white;
  background-color: #1FC7D4;
}

.menuButton:active,
.menuButton:hover,
.menuButton:focus {
  color: #7A6EAA;
  background-color: transparent;
}

.menuButton.active:active,
.menuButton.active:hover,
.menuButton.active:focus {
  color: white;
  background-color: #7A6EAA;
}

.iconButton:active,
.iconButton:hover,
.iconButton:focus {
  background-color: transparent;
}

.textButton:active,
.textButton:hover,
.textButton:focus {
  color: #1FC7D4;
  background-color: transparent;
}

.numTicketsButton:active,
.numTicketsButton:hover,
.numTicketsButton:focus {
  color: #1FC7D4;
  background-color: #eff4f5;
}